Flask==2.3.3
Werkzeug==2.3.7
Flask-Login==0.6.2
bcrypt
blinker
click
Flask-Bcrypt
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
python-dateutil
six
SQLAlchemy
typing_extensions
python-dotenv
mysqlclient