{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>Add a new recipe!</h2>
  <form
    action="{{url_for('main.new_recipe')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <input
        type="file"
        name="recipe_photo"
        class="form-control"
        accept="image/jpeg,image/png"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="recipe_name"
        placeholder="Kanelbullar"
        required
      />
    </div>
    <div class="mb-3">
      <textarea
        class="form-control"
        name="recipe_description"
        placeholder="Amazing Swedish winter cinnamon buns"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">For how many people:</label>
      <input
        type="number"
        class="form-control"
        name="recipe_persons"
        placeholder="4"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Estimated time in mins:</label>
      <input
        type="number"
        class="form-control"
        name="recipe_time"
        placeholder="60"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Ingredients:</label>
      <div id="ingredients-list">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            name="ingredient_name[]"
            placeholder="Flour"
            required
          />
          <input
            type="number"
            class="form-control"
            name="ingredient_quantity[]"
            placeholder="500"
          />
          <input
            type="text"
            class="form-control"
            name="ingredient_unit[]"
            placeholder="g"
          />
          <button
            class="btn btn-outline-danger remove-ingredient"
            type="button"
          >
            -
          </button>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label>Steps:</label>
      <div id="steps-list">
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            name="step_order[]"
            placeholder="1"
          />
          <input
            type="file"
            name="step_photo[]"
            class="form-control"
            accept="image/jpeg,image/png"
          />
          <textarea
            class="form-control"
            name="step_text[]"
            placeholder="Mix all the ingredients"
            required
          ></textarea>
          <button class="btn btn-outline-secondary add-step" type="button">
            +
          </button>
        </div>
      </div>
    </div>
    <div><input type="submit" class="btn btn-primary" value="Post" /></div>
  </form>
</div>

<!-- <script>
  $(document).ready(function () {
    $(".add-ingredient").click(function () {
      var ingredientsList = $("#ingredients-list");
      var newIngredient = ingredientsList.children().first().clone();
      newIngredient.find("input").val("");
      ingredientsList.append(newIngredient);
    });

    $(".add-step").click(function () {
      var stepsList = $("#steps-list");
      var newStep = stepsList.children().first().clone();
      newStep.find("input[type=number]").val(stepsList.children().length + 1);
      newStep.find("textarea").val("");
      stepsList.append(newStep);
    });
  });
</script> -->

<script>
  $(document).ready(function () {
    function addIngredient() {
      var ingredientsList = $("#ingredients-list");
      var newIngredient = ingredientsList.children().first().clone();
      newIngredient.find("input").val("");
      ingredientsList.append(newIngredient);
    }

    function removeIngredient() {
      var ingredientsList = $("#ingredients-list");
      if (ingredientsList.children().length === 2) {
        if (!checkAllFilled("#ingredients-list")) {
          $(this).parent().remove();
        } else {
          $(this)
            .parent()
            .find("input")
            .each(function () {
              $(this).val("");
            });
        }
      } else if (ingredientsList.children().length > 1) {
        $(this).parent().remove();
      }
    }

    function checkAndAddIngredient() {
      var allFilled = checkAllFilled("#ingredients-list");

      if (allFilled) {
        addIngredient();
      }
    }

    function checkAllFilled(listElement) {
      var allFilled = true;
      $(listElement)
        .children()
        .last()
        .find("input")
        .each(function () {
          if ($(this).val() === "") {
            allFilled = false;
            return false; // Breaks out of the .each loop
          }
        });
      return allFilled;
    }

    $("#ingredients-list").on("input change", "input", checkAndAddIngredient);
    $("#ingredients-list").on("click", ".remove-ingredient", removeIngredient);
  });
</script>
{% endblock %}
