{% extends 'base.html' %}
{% block content %}
  <div class="card p-5 mb-3">
    <div class="container" style="padding-bottom:8px"> <!-- Add a wrapping container -->
      <h2>Add a new recipe</h2>
      <form
        action="{{url_for('main.new_recipe')}}"
        method="POST"
        enctype="multipart/form-data"
      >
              <div class="mb-3">
                <input
                  type="file"
                  name="recipe_photo"
                  class="form-control"
                  accept="image/jpeg,image/png"
                  required
                />
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="recipe_name"
                  placeholder="Kanelbullar"
                  required
                />
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control"
                  name="recipe_description"
                  placeholder="Amazing Swedish winter cinnamon buns"
                  required
                ></textarea>
              </div>
              <div class="mb-3">
                <label class="form-label">For how many people:</label>
                <input
                  type="number"
                  class="form-control"
                  name="recipe_persons"
                  placeholder="4"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Estimated time in mins:</label>
                <input
                  type="number"
                  class="form-control"
                  name="recipe_time"
                  placeholder="60"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Ingredients:</label>
                <div id="ingredients-list">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control ingredient_name"
                      name="ingredient_name[]"
                      placeholder="Flour"
                      required
                    />
                    <input
                      type="number"
                      class="form-control ingredient_quantity"
                      name="ingredient_quantity[]"
                      placeholder="500"
                    />
                    <input
                      type="text"
                      class="form-control ingredient_unit"
                      name="ingredient_unit[]"
                      placeholder="g"
                    />
                    <button
                      class="btn btn-outline-danger remove-ingredient"
                      type="button"
                    >
                      -
                    </button>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label>Steps:</label>
                <div id="steps-list">
                  <div class="input-group mb-3">
                    <input
                      type="number"
                      class="form-control"
                      name="step_order[]"
                      placeholder="1"
                      value="1"
                    />
                    <input
                      type="file"
                      class="form-control"
                      accept="image/jpeg,image/png"
                    />
                    <textarea
                      class="form-control"
                      name="step_text[]"
                      placeholder="Mix all the ingredients"
                      required
                    ></textarea>
                    <button class="btn btn-outline-danger remove-step" type="button">
                      -
                    </button>
                  </div>
                </div>
              </div>
            <div><input type="submit" class="btn btn-primary" value="Post" /></div>
        <div>
      </form>
    </div>
  </div>

<script>
  $(document).ready(function () {
    function addIngredient() {
      var ingredientsList = $("#ingredients-list");
      var newIngredient = ingredientsList.children().first().clone();
      newIngredient
        .find("input")
        .val("")
        .removeAttr("name")
        .removeAttr("required");
      ingredientsList.append(newIngredient);
    }

    function addStep() {
      var stepsList = $("#steps-list");
      var newStep = stepsList.children().first().clone();
      newStep
        .find("input, textarea")
        .val("")
        .removeAttr("name")
        .removeAttr("required");

      var counter = stepsList.children().length + 1;
      newStep.find("input[type=number]").val(counter);
      stepsList.append(newStep);
    }

    function removeItem(elementList, addFunction, clickedElement) {
      var itemList = $(elementList);
      if (itemList.children().length > 1) {
        clickedElement.parent().remove();
      }

      if (itemList.children().length === 1 && checkAllFilled(elementList)) {
        addFunction();
      }
    }

    function checkAndAddItem(elementList, addFunction, event) {
      var allFilled = checkAllFilled(elementList);

      if (allFilled) {
        addFunction();
      }
    }

    function checkAllFilled(elementList) {
      var selectedElement = $(elementList)
        .children()
        .last()
        .find("input,textarea")
        .not("input[type=file]");
      var allFilled = true;
      selectedElement.each(function (index, element) {
        if ($(element).val() === "") {
          allFilled = false;
          return false; // Breaks out of the .each loop
        }
      });
      return allFilled;
    }

    function updateAttributes(element) {
      var allInputs = element.find(
        "input[type=file], input[type=number], input[type=text], textarea"
      );

      var checkInputs = element.find("input,textarea").not("input[type=file]");
      var allFilled =
        checkInputs.filter(function () {
          return this.value.trim() === "";
        }).length === 0;

      if (allFilled) {
        allInputs.each(function () {
          var inputType = $(this).attr("type");
          var classes = $(this).attr("class");
          var nameAttribute = "";
          if (element.parent().attr("id") === "ingredients-list") {
            if (inputType === "number") {
              nameAttribute = "ingredient_quantity[]";
            } else if (classes.includes("ingredient_unit")) {
              nameAttribute = "ingredient_unit[]";
            } else if (classes.includes("ingredient_name")) {
              nameAttribute = "ingredient_name[]";
            }
            $(this).attr({ name: nameAttribute, required: "required" });
          } else if (element.parent().attr("id") === "steps-list") {
            if (inputType === "number") {
              nameAttribute = "step_order[]";
            } else if (this.tagName.toLowerCase() === "textarea") {
              nameAttribute = "step_text[]";
            } else if (inputType === "file") {
              if (this.files.length > 0) {
                matchingItem = element.parent().children().index(element);
                nameAttribute = `step_photo[${matchingItem}]`;
                $(this).attr({ name: nameAttribute });
              } else {
                $(this).removeAttr("name");
              }
            }

            if (inputType !== "file") {
              $(this).attr({ name: nameAttribute, required: "required" });
            }
          }
        });
      } else {
        allInputs.removeAttr("name").removeAttr("required");
      }
    }

    function updatePhotoIndex() {
      var photoInputs = $("#steps-list").find("input[type=file]");
      photoInputs.each(function (index, element) {
        var nameAttribute = `step_photo[${index}]`;
        $(this).attr({ name: nameAttribute });
      });
    }

    function updateOrderIndex() {
      var orderInputs = $("#steps-list").find("input[type=number]");
      orderInputs.each(function (index, element) {
        $(this).val(index + 1);
      });
    }

    $("#ingredients-list").on("input change", "input", function (event) {
      checkAndAddItem("#ingredients-list", addIngredient, event);
      updateAttributes($(this).closest(".input-group"));
    });
    $("#ingredients-list").on("click", ".remove-ingredient", function () {
      removeItem("#ingredients-list", addIngredient, $(this));
    });

    $("#steps-list").on("input change", "input, textarea", function (event) {
      checkAndAddItem("#steps-list", addStep, event);
      updateAttributes($(this).closest(".input-group"));
    });
    $("#steps-list").on("click", ".remove-step", function () {
      removeItem("#steps-list", addStep, $(this));
      updatePhotoIndex();
      updateOrderIndex();
    });
  });
</script>
<br>
{% endblock %}
