{% extends 'base.html' %} {% block content %}
<main class="card p-5">
  <section class="container">
    <article>
      <div class="row mb-2">
        {% for image in recipe[0].photos %}
        <div class="col-md-4 mb-3">
          <img
            src="{{url_for('static', filename='photos/photo-' + image.id|string + '.' + image.file_extension)}}"
            alt="{{recipe.title}} image"
            class="img-fluid rounded"
          />
        </div>
        {% endfor %}
      </div>
      <div class="d-flex flex-row">
        <h2 class="me-4">{{recipe[0].title}}</h2>
        {% include 'components/bookmark_button.html' %}
       
      </div>
      <p>{{recipe[0].description}}</p>
      <hr class="hr" />
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <i class="fas fa-users me-2"></i>
          <p class="mb-0">{{recipe[0].persons}} Persons</p>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <i class="fas fa-clock me-2"></i>
          <p class="mb-0">Estimated Time: {{recipe[0].estimated_time}}</p>
        </div>
      </div>
      <hr class="hr mb-4" />
      
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Ingredient</th>
                <th scope="col" class="text-end">Amount</th>
                <th scope="col" class="text-end">Unit</th>
              </tr>
            </thead>
            <tbody>
              {% for q_ingredient in recipe[0].q_ingredients %}
              <tr>
                <td>{{ q_ingredient.ingredient.name }}</td>
                <td class="text-end">{{ q_ingredient.amount }}</td>
                <td class="text-end">{{ q_ingredient.unit }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <h3 class="mt-4">Steps</h3>
      <ol class="list-unstyled">
        {% for step in recipe[0].steps %}
        <li class="mb-3">
          <div class="card">
            <div class="row g-0">
              {% if step.photos and step.photos[0] %}
              <div class="col-md-4">
                <img
                  src="{{url_for('static', filename='photos/photo-' + step.photos[0].id|string + '.' + step.photos[0].file_extension)}}"
                  alt="{{recipe.title}} step image"
                  class="img-fluid rounded-start"
                  style="object-fit: cover; max-height: 250px"
                />
              </div>
              <!-- Comment out following line to auto format-->
              <div class="col-md-8">
              {% else %}
              <div class="col-md-12">
                {% endif %}
                <div class="card-body">
                  <p class="card-title">
                    <strong>Step {{ step.order }}</strong>
                  </p>
                  <p class="card-text">{{ step.text }}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>

      <h3 class="mt-4">You cooked it?</h3>
      <p>Share your Masterpiece and leave your vote:</p>
      <div class="row">
        <form
          class="col-md-6"
          action="{{url_for('main.new_photo_post', recipe_id=recipe[0].id)}}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <input
              type="file"
              name="photo"
              class="form-control"
              id="imageUpload"
              accept="image/jpeg,image/png"
              required
            />
          </div>
          <div class="mb-3">
            <img
              id="imagePreview"
              src="#"
              alt="your image"
              class="img-fluid"
              style="display: none"
            />
          </div>
          <input type="submit" value="Post" class="btn btn-primary" />
          <button
            type="button"
            id="deleteImage"
            class="btn btn-danger"
            style="display: none"
          >
            Delete Image
          </button>
        </form>
        <div class="col-md-6">{% include 'components/voting_panel.html' %}</div>
      </div>
      <hr class="hr" />
    </article>
  </section>
</main>

<script>
  $(document).ready(function () {
    $("#imageUpload").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#imagePreview").attr("src", e.target.result).show();
          $("#deleteImage").show();
        };
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#deleteImage").click(function () {
      $("#imagePreview").hide();
      $("#imageUpload").val("");
      $(this).hide();
    });
  });
</script>
{% endblock %}
