{% extends 'base.html' %}

{% block content %}
<section>
    <div class="header-user">
        <h2>{{user.name}}</h2>
        {% if follow_button == "follow" %}
            <form action="{{ url_for('main.follow', user_id=user.id) }}" method="post">
                <input class="button-reply" type="submit" value="Follow">
            </form>
        {% elif follow_button == "unfollow" %}
            <form action="{{ url_for('main.unfollow', user_id=user.id) }}" method="post">
                <input class="unfollow_button" type="submit" value="Unfollow">
            </form>
        {% endif %}
    </div>
    <div class="followers">
        <span><span class="follow-number">{{ user.followers | length }}</span> Followers</span>
        <span><span class="follow-number">{{ user.following | length }}</span> Following </span>
    </div>

    <div>
        <h2>Recipes by {{user.name}}</h2>
        {%for recipe in recipes%}
            <div>
              {% for recipe in recipes %} 
                {% include 'components/recipe_preview.html' %}
              {% endfor %}
            </div>
        {%endfor%}
        <br>
    </div>

    {% include 'components/posts_template.html' %}
</section>
{% endblock %}