<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- required by bootstrap for responsiveness -->
    <title>Cookapp</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/fontawesome.min.css"
      integrity="sha256-jrW0TOWXGlAeWheVTEZLgKugxGBGdbVgOn9FZFmviKE="
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/js/fontawesome.min.js"
      integrity="sha256-6/VL/zgaVQLFCpqy4il6oVm6EB1Ts5fDz6XTHzJMscI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />

    <link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet'>
  </head>

  <body>
    <header>
    </header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      
      <a class="navbar-brand" href="/"><img src="/static/logo.png" id="logo_image" alt="Cookapp Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item welcome-container">
              <a class="nav-link welcome-message" href="{{ url_for('main.user', user_id=current_user.id) }}">Welcome, {{ current_user.name }} &#128516;</a>
              <div class="account-options" id="options">
                <a class="nav-link bookmarks-link" href="{{ url_for('main.bookmarks', user_id=current_user.id) }}">My Bookmarks</a>
                <a class="nav-link user-page-link" href="{{ url_for('main.user', user_id=current_user.id) }}">My Page</a>
                <a class="nav-link upload-recipe-link" href="{{ url_for('main.new_recipe', user_id=current_user.id) }}">Upload Your Recipe</a>
                <a class="nav-link logout-link" href="{{ url_for('auth.logout')}}">Logout</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link login-link" href="{{ url_for('auth.login') }}" id="loginLink">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
        </ul>
      </div>
      
        </ul>

      </div>
    </nav>
    
    <hr>

    <section class="content">{% block content %}{% endblock %}</section>
    
    <footer><small>Developed for Web applications</small></footer>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>

</html>
