<article class="card mb-3">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-md-9" style="position: relative">
      <div class="row g-0"> <!--  d-flex align-items-center -->
        <div class="col-md-4 thumb-recipe">
          <img
            src="/static/photos/photo-{{recipe[0].photos[0].id}}.{{recipe[0].photos[0].file_extension}}"
            alt="{{ recipe[0].title }} image"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <a
            href="{{url_for('main.recipe', recipe_id=recipe[0].id)}}"
            class="stretched-link"
          >
            <div class="card-body">
              <h2 class="card-title">{{ recipe[0].title}}</h2>
              <div class="metadata">
                <a href="{{ url_for('main.user', user_id=recipe[0].user.id) }}">
                  <span class="author">{{ recipe[0].user.name }}</span>
                </a>
                <span class="date">{{ recipe[0].timestamp }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 p-4">{% include 'components/voting_panel.html' %}</div>
  </div>
</article>
