<article class="card mb-3">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-md-9" style="position: relative">
      <div class="row g-0">
        <div class="col-md-4 thumb-recipe">
          <a href="{{url_for('main.recipe', recipe_id=recipe[0].id)}}">
            <img
              src="/static/photos/photo-{{recipe[0].photos[0].id}}.{{recipe[0].photos[0].file_extension}}"
              alt="{{ recipe[0].title }} image"
              class="img-fluid rounded-start"
            />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <a href="{{url_for('main.recipe', recipe_id=recipe[0].id)}}" class="recipe-link">
                <h2 class="card-title mb-0 mr-3">{{ recipe[0].title}}</h2>
              </a>
              <form action="{{url_for('main.create_bookmark', recipe_id=recipe[0].id)}}" method="post">
                <button id="bookmark" name="Bookmark" value="Bookmark" class="btn btn-outline-danger fas fa-heart"></button>
              </form>
            </div>
            <div class="metadata">
              <a href="{{ url_for('main.user', user_id=recipe[0].user.id) }}">
                <span class="author">{{ recipe[0].user.name }}</span>
              </a>
              <span class="date">{{ recipe[0].timestamp }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-4">{% include 'components/voting_panel.html' %}</div>
  </div>
</article>

<script>
  $(document).ready(function () {
    $("#imageUpload").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#imagePreview").attr("src", e.target.result).show();
          $("#deleteImage").show();
        };
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#deleteImage").click(function () {
      $("#imagePreview").hide();
      $("#imageUpload").val("");
      $(this).hide();
    });
  });
</script>
